:root {
    --note-opacity: 0;
}

html {
    background-color: #191724;
    color: #e0def4;
}

body {
    max-width: 1600px;
    padding: 25px;
    margin: 0 auto;
    font-family: Rubik, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {
	display:flex;

	/* border:1px solid yellow; */

	align-items: flex-end;
}

header h1,h3 {
	margin: 0;
	padding: 20px;
}

#board, #board2 {
    display: flex;
    overflow: visible;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 20px;
    background: #502F26;
}

.string-row {
    display: flex;
    height: 30px;
    position: relative;
    min-width: 0;
    max-width: none;
    overflow: visible;
}

/* string as pseudo element */
.fw::before {
    content: '';
    position: absolute;
    left: 0;
    right: -5px;
    top: 50%;
    height: var(--before-height, 2px);
    background: #7B6B6B;
}


.marker {
    width: 22px;
    height: 22px;
    position: absolute;
	top:2px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#C3957E;
    border-radius: 50%;
    z-index: -1;
}

.marker-12-bottom {
    /* transform: translate(-50%, 0%); */
    top: 15px;
}

.marker-12-top {
    top: 15px;
}

.nut {
    width: 16px; /* prevent fretboard corruption */
    display: flex;
    position: absolute;
    transform: translateX(-8px);
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    z-index: 11;
    cursor: pointer;
}

/* fret border  */
.fw {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 4px solid #888;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    z-index: 2;
    cursor: pointer;
}


#fret-nums {
    display: flex;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
}

.fret-number {
    font-size: 14px;
    display: flex;
    justify-content: end;
    color: #888;
    pointer-events: none;

    /* width: auto; */

    /* user-select: none; */

    /* -webkit-user-select: none; */
}

.fret-number p {
    position: relative;
    display: inline-block;
    transform: translate(50%, 0);
}

.emb {
    width: 36px;
    height: 36px;
    position: absolute;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-color: #535F4F;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}


@media (hover: hover) {
.fw:hover .emb {
    opacity: 0.5;
}
}

.emb.active {
    opacity: 1;
}

@media (hover: hover) {
.fw:hover .emb.active {
    opacity: 1;
}
}

#dash {
	display:flex;
	flex-direction: row;
	align-items: center;
	font-size:16px;
	padding: 10px;
	touch-action: manipulation;
}

#dash #up,
#dash #down,
#dash #sign-tog,
#dash #maj,
#dash #min{
	background-color: #6e6a86;
	color: #fff;
	font-size: inherit;
    cursor: pointer;
	border-style: none;
	border-radius: 24px;
	transition: background-color 0.3s ease;
}

#dash #up:hover,
#dash #down:hover,
#dash #sign-tog:hover,
#dash #maj:hover,
#dash #min:hover,
#dash .active{
	background-color: #7B344A !important;
}

.centerdash {
	border: none;
	display: flex;
}

.centerdash > * {
	padding: 15px;
	margin: 10px;
}



#dash span {
	display: inline-block;
	width: 32px;
}

.fade-out {
	color: pink;
    transition: opacity 0.2s ease-out;
}

.third-color {
	background-color:#7B344A;
}

.fifth-color {
	background-color: #1E3B41;
}

#triad-info {
	font-size: 27px;
	opacity: 0;
    transition: opacity 0.4s ease;
	width: 250px;
}

#triad-info.fade-in {
    opacity: 1;
}
